<%- include("partials/header.ejs") %>
</header>
<body>
    <div class="main-container">
    <section class="book-info">
        <img src="<%= locals.bookImg ? bookImg : ''%>" alt="">
        <% if(locals.bookInfo){ %>
            <h1 class="sub-title"><%= bookInfo.title%> </h1>
            <p><%= bookInfo.summary%></p>
        <% }%>
        <div class="card mb-3" id="book-thoughts-card">
            <div class="card-body">
              <h5 class="card-title ">My thoughts</h5>
              <p class="card-text"><%= bookEntry ? bookEntry.slice(0,200)+"..." : "No thoughts found"%></p>
              <a href="/edit/<%=bookId%>" class="btn btn-outline-primary"> <%= bookEntry ? "Edit thoughts": "Add thoughts"%> </a>
            </div>
          </div>
    </section>
    <section class="chapters-container">
        <table class="table table-dark">
            <div class="sub-title"> Chapters </div>
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Date Created</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <% if (locals.chapters) {%>
                <% let counter = 0 %>
                <% chapters.forEach(chapter => {%>
                    <% counter++ %>
                    <tr>
                        <th scope="row"><%=counter%></th>
                        <td><%= chapter.attributes.title %></td>
                        <td>Sept 30th 2024</td>
                        <td>
                            <a href="/edit/<%=bookId%>/chapters/<%=chapter.id%>" class="btn btn-primary">Edit</a>
                            <a href="/edit/<%=bookId%>/chapters/<%=chapter.id%>/delete" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>       
                <% }); %>
            <% }else { %>
                <h3>Something went wrong :c Sorry mum</h3>
            <% } %>
            </tbody>
        </table>
    </section>
    </div>
</body>
<%- include("partials/footer.ejs") %>