<%- include("partials/header.ejs") %>

<div class="main-container">
    <% if(locals.bookInfo){ %>
        <form class="edit-container" action="/edit/<%= bookInfo.id %>" method="post">
            <input type="text" name="title" placeholder="Title" value="<%=bookInfo.title%>" required>
            <textarea name="content"><%= bookInfo.content %></textarea>
        <% } else { %>
            <input type="text" name="title" placeholder="Title" required>
            <textarea name="content"></textarea>
        <% } %>
        <button type="submit">Save</button>
    </form>
</div>


<%- include("partials/footer.ejs") %>