<%- include("./partials/header.ejs")  %>

<div class="main-container">
    <h1>BLOG WEB APPLICATION</h1>
    <div class="form-container">
        <h2>Previous Entries</h2>
        <button><a href="/entries"> New Entry</a></button>
        <table>
            <tbody>
                <% if(locals.entries && locals.entries.length > 0){ %>
                    <% for (entry = 0; entry < entries.length; entry++){%>
                        <tr><%# I need to send the index so I can find this entry in the array %>
                            <td> <a href="/entries/<%= entry %>"> <%= entries[entry].title  %> </a></td>
                            <td><form action="/entries/<%= entry %>" method="post">
                                <button type="submit">DELETE</button></form></td>
                        </tr>
                    <%} %>
                <% } else { %>
                    <h1>no entries</h1>
                <% } %>
                <tr>
                </tr>
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
</div>

<%- include("./partials/footer.ejs") %>
