<%- include("./partials/header.ejs")  %>

<div class="main-container container">
    <div class="p-4 px-5 rounded text-body-emphasis bg-body-secondary" style="height: 45%;">
        <div class="col-lg-6 px-0">
          <h1 class="display-4 fst-italic bold">EchoBlog</h1>
          <p class="lead my-3">Writing is the art of turning thoughts into words, dreams into stories, and silence into powerful expressions. Embrace the blank page, for it holds the potential to change the world, one word at a time.</p>
        </div>
      </div>
    <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
        <div id="custom-entries-display">
            <div class="custom-display">
                <h2 class="display-5 link-body-emphasis mb-1">Previous Entries</h2>
                <button type="button" class="btn btn-secondary custom-btn"><a href="/entries" style="color:aliceblue"> New Entry</a></button>

            </div>
            <hr>
            <% if(locals.entries && locals.entries.length > 0){ %>
                <% for (entry = 0; entry < entries.length; entry++){%>
                    <div class="position-relative custom-display">
                        <label class="list-group-item py-3 pe-5" for="listGroupRadioGrid1">
                            <strong class="fw-semibold"><a class="custom-font" href="/entries/<%= entry %>"> <%= entries[entry].title  %> </a> </strong>
                        </label>
                        <button type="button" class="btn btn-outline-danger custom-btn" id="delete-btn" data-entry="<%= entry %>">DELETE</button>
                    </div>
                <%} %>
            <% } else { %>
                <h1>no entries</h1>
            <% } %>
        </div>
    </div>
</div>

<%- include("./partials/footer.ejs") %>
